# Unreal Engine related

[Bb]inaries/
[Dd]erivedDataCache/
[Ii]ntermediate/
[Ss]aved/
[Pp]lugins/
[Cc]ontent/Maps/

# FMOD Cache files
[Cc]ontent/FMOD/fmod_project/.cache/

# Generated project files 

*.sdf
*.sln
*.suo

